@import 'normalize.css';

body {
  font-family: sans-serif;
}

header {
  display: grid;
  grid-template-columns: 200px 1fr 150px 300px;
  background: #eee;
}

p {
  margin: 0 .25em;
}
h1 {
    margin: .25em 0;
  }
nav ul {
  display:flex;
}

nav ul li {
  list-style: none;
  margin:0 10px;
}

nav ul li a.active {
  background: #000;
  color: #fff;
}

a {
  text-decoration: none;
  padding: .25em;
}

footer p {
  text-align:center;
}


.grid-row {
  display: grid;
  grid-template-rows: 1fr 5px 1fr;
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
}

#options {
  line-height: 52px;
}

.parser_wrapper {
  display: flex;
}

.ember-power-select-trigger {
  max-height: 30px;
  margin: 10px;
  width: 200px;
}

.label-text {
  line-height: 50px;
}


.editor {
  width: 100%;
  height: calc((100vh - 100px)/2);
  border: 1px solid #ccc;
}

.CodeMirror {
  height: 100%;
}

select {
  height: 30px;
  margin: 10px;
}

.CodeMirror-linenumber {
  color: #444;
}
